{% extends "base.html" %}

{% block title %}{{ athlete.display_name }}{% endblock %}

{% block content %}
<div id="pnlMainGeneral">
  <table>
    <tbody>
      <tr>
        <td><span id="cphBody_lblErrorMessage" style="color:Red;"></span></td>
      </tr>
    </tbody>
  </table>

  <div id="cphBody_pnlMain">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td valign="top">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="athleteprofilesubheader">
                  <td><h2>{{ athlete.display_name }}</h2></td>
                  <td style="text-align:right"><b><a href="{{ athlete.source_url }}">Original source</a></b></td>
                </tr>
              </tbody>
            </table>

            <div id="cphBody_pnlAthleteDetails">
              <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr><td style="font-size:2pt">&nbsp;</td></tr>
                </tbody>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="50%" valign="top">
                      <table cellspacing="0" cellpadding="2">
                        <tbody>
                          <tr><td><b>Athlete ID:</b></td><td>{{ athlete.athlete_id }}</td></tr>
                          {% if athlete.club %}<tr><td><b>Club:</b></td><td>{{ athlete.club }}</td></tr>{% endif %}
                          {% if athlete.gender %}<tr><td><b>Gender:</b></td><td>{{ athlete.gender }}</td></tr>{% endif %}
                          {% if athlete.age_group %}<tr><td><b>Age Group:</b></td><td>{{ athlete.age_group }}</td></tr>{% endif %}
                          {% if athlete.age %}<tr><td><b>Age:</b></td><td>{{ athlete.age }}</td></tr>{% endif %}
                        </tbody>
                      </table>
                    </td>
                    <td width="50%" valign="top">
                      <table cellspacing="0" cellpadding="2">
                        <tbody>
                          <tr><td><b>Fetched:</b></td><td>{{ athlete.fetched_at or '' }}</td></tr>
                          <tr><td><b>Sections:</b></td><td>{{ athlete.section_count }}</td></tr>
                          <tr><td><b>Total Performances:</b></td><td>{{ athlete.performance_count }}</td></tr>
                          {% if athlete.first_year and athlete.last_year %}
                          <tr><td><b>Coverage:</b></td><td>{{ athlete.first_year }}-{{ athlete.last_year }}</td></tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cphBody_pnlAbout">
              <br>
              <table width="100%" cellspacing="0" cellpadding="2">
                <tbody>
                  <tr class="athleteprofilesubheader">
                    <td><b>About</b></td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td>
                      This live page is backed by PostgreSQL. Imported Power of 10 cache data and any later TruePB sections are rendered from the database, not from static files.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cphBody_pnlBestPerformances">
              <br>
              <table width="100%" cellspacing="0" cellpadding="2">
                <tbody>
                  <tr class="athleteprofilesubheader">
                    <td><b>Best known performances</b></td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed">
                <tbody>
                  <tr>
                    <td>
                      <div id="cphBody_divBestPerformances" style="overflow:auto;width:100%;height:220px">
                        <table cellpadding="3" cellspacing="0" rules="none" class="alternatingrowspanel">
                          <tbody>
                            {% if athlete.best_headers %}
                            <tr class="bestperformancesheader">
                              {% for header in athlete.best_headers %}
                              <td><b>{{ header }}</b></td>
                              {% endfor %}
                            </tr>
                            {% endif %}
                            {% for row in best_rows %}
                            <tr style="background-color:{{ 'WhiteSmoke' if loop.index0 % 2 == 0 else 'Gainsboro' }}">
                              {% for cell in row.cells %}
                              {% set is_event_col = loop.index0 in [0, 16] %}
                              {% set is_pb_col = loop.index0 == 1 and cell %}
                              <td{% if is_event_col %} class="bestperformancesheader"{% endif %}{% if is_pb_col %} style="background-color:LightPink"{% endif %}>
                                {% if is_event_col and cell %}<b>{{ cell }}</b>{% else %}{{ cell }}{% endif %}
                              </td>
                              {% endfor %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="cphBody_pnlPerformances">
              <br>
              <table width="100%" cellspacing="0" cellpadding="2">
                <tbody>
                  <tr class="athleteprofilesubheader">
                    <td><b>Performances</b></td>
                  </tr>
                  <tr>
                    <td>
                      <b>
                        {% for item in section_nav %}
                        <a href="#{{ item.anchor }}">{{ item.label }}</a>{% if not loop.last %} {% endif %}
                        {% endfor %}
                      </b>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <table width="100%" cellspacing="0" cellpadding="2" rules="none" class="alternatingrowspanel">
                <tbody>
                  {% for section in sections %}
                  <tr style="background-color:DarkGray">
                    <td colspan="12">
                      <a name="section-{{ section.id }}">
                        {% if section.source_kind == 'truepb_results' %}
                        <b>
                          {{ section.year if section.year is not none else section.title }}
                          {% if athlete.club %} {{ athlete.club }}{% endif %} (TRUEPB Results)
                        </b>
                        {% else %}
                        <b>{{ section.title }}</b>
                        {% endif %}
                      </a>
                    </td>
                  </tr>
                  <tr style="background-color:LightGrey">
                    <td><b>Event</b></td>
                    <td><b>Perf</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Pos</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Venue</b></td>
                    <td><b>Meeting</b></td>
                    <td align="right"><b>Date</b></td>
                  </tr>
                  {% for row in section.rows %}
                  <tr style="background-color:{{ 'WhiteSmoke' if loop.index0 % 2 == 0 else 'Gainsboro' }}">
                    <td>{{ row.event or '' }}</td>
                    <td>{{ row.perf or '' }}</td>
                    <td></td>
                    <td nowrap align="right"></td>
                    <td></td>
                    <td>{{ row.pos or '' }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      {% if row.venue_url %}
                      <a href="{{ row.venue_url }}">{{ row.venue or '' }}</a>
                      {% else %}
                      {{ row.venue or '' }}
                      {% endif %}
                    </td>
                    <td>{{ row.meeting or '' }}</td>
                    <td nowrap align="right">{{ row.date_text or '' }}</td>
                  </tr>
                  {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>

          <td width="220" valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" align="center">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" cellspacing="0" cellpadding="2">
                      <tbody>
                        <tr class="athleteprofilesubheader">
                          <td><b>Data Notes</b></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" cellpadding="3" cellspacing="0" class="alternatingrowspanel">
                      <tbody>
                        <tr><td>Primary identity comes from the imported Po10 profile cache.</td></tr>
                        <tr><td>TruePB rows can be appended as new sections without reimporting the Po10 dump.</td></tr>
                        <tr><td><a href="/athletes">Back to athlete index</a></td></tr>
                        <tr><td><a href="/">Back to front page</a></td></tr>
                        <tr><td><a href="{{ athlete.source_url }}">Open original profile</a></td></tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
